@import "tailwindcss";

.container {
    @apply max-w-[1120px] mx-auto;
}

@theme {
    --font-popins: "Poppins", sans-serif;
    --font-fagtree: "Figtree", sans-serif;
}
.menu ul li a {
    font-size: 16px;
    font-weight: medium;
    color: rgba(0, 0, 0, 0.3);
    font-family: "Poppins", sans-serif;
}
.menu2 ul li a{
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    color: rgba(0, 0, 0, 0.3);
    line-height: 32px;
    font-size: 18px;
}
.menu2 ul li a:hover{
    color: black;
    text-decoration: underline;

    transition: all ease 0.3s;
}
.menu, ul li a:hover {
    color: black;

    transition: all ease 0.3s;
}
.Chatagory ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 32px;
    padding-left: 8px;
    white-space: nowrap;
}




.Chatagory ul {
    display: flex;              
    gap: 81.4px;                
    --cat-gap: 81.4px;           
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


.Chatagory ul li {
    position: relative;
    display: flex;
    align-items: center;
    
}


.Chatagory ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 100%; 
    top: 50%;
    
    transform: translateX(calc(var(--cat-gap) / 2)) translateY(-50%);
    height: 56%;               
    width: 1px;
    background: rgba(255, 255, 255, 0.14);
    pointer-events: none;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}


input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
}
input[type="range"]::-moz-range-track {
  height: 6px;
  background: transparent;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;      
  border: none;
  margin-top: -7px;      
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0,0,0,0); 
}


input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;      
  border: none;
  cursor: pointer;
}


input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06);
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06);
}
